body{
    background-color: rgb(129, 213, 216);
    color: black;
    margin: auto;
    padding: 0;
    font-family: monospace;
}
h2{
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
    padding: 12px 14px;
    font-size: 28px;

}
div{
    background-color: black;
    color: wheat;
}

a:hover{
    background-color: white;
    color: black;
}